.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #41515e; 
    color: #FFFFFF; /* White */
  }
  
  .navbar-logo img {
    height: 50px; /* Adjust height as needed */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #FFFFFF; /* White */
    font-weight: bold;
  }
  
  .nav-links a:hover {
    color: #233441; /* Electric Blue */
  }
  